--- 
layout: base
---

<h2 class="preview-header">Mildronize</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">posts</li>
  </ol>
</nav>


<div>
    {% set postslist = collections.posts %}
    {% include "components/posts-list-preview.njk" %}
</div>