---
layout: base
permalink: "posts/{{page.fileSlug }}/"
---
<div class="page-container">
<section>
  <center>
    <h3 class="preview-header">-- Preview Mode --</h3>
  </center>
 <div class="mt-5"></div>
</section>
<article>
  <h1>{{ title }}</h1>
  <p class="post-date">
    {{ page.date | dateToISO }}
    </p>
  {{ content }}
</article>

</div>